.tiles {
  height: 104px;
  width: 250px;
  float: left;
  background: red;
  margin: 6px;
  padding: 4px;
  color: #fffffe;
  white-space: nowrap;
  /*font-family: 'Montserrat', sans-serif; */
}

.red {
/* http://www.colorzilla.com/gradient-editor/#cd4345+0,e36767+100 */  
background: rgb(205,67,69);
background: -moz-linear-gradient(left, rgba(205,67,69,1) 0%, rgba(227,103,103,1) 100%);
background: -webkit-linear-gradient(left, rgba(205,67,69,1) 0%,rgba(227,103,103,1) 100%);
background: linear-gradient(to right, rgba(205,67,69,1) 0%,rgba(227,103,103,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd4345', endColorstr='#e36767',GradientType=1 );
display: inline-block;  
}
.green {
/* http://www.colorzilla.com/gradient-editor/#93bd47+0,709627+100  */
background: rgb(147,189,71);
background: -moz-linear-gradient(left, rgba(147,189,71,1) 0%, rgba(112,150,39,1) 100%);
background: -webkit-linear-gradient(left, rgba(147,189,71,1) 0%,rgba(112,150,39,1) 100%);
background: linear-gradient(to right, rgba(147,189,71,1) 0%,rgba(112,150,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93bd47', endColorstr='#709627',GradientType=1 );
display: inline-block;  
}
.blue {
/* http://www.colorzilla.com/gradient-editor/#7f9ad8+0,558ccb+100 */
background: rgb(127,154,216);
background: -moz-linear-gradient(left, rgba(127,154,216,1) 0%, rgba(85,140,203,1) 100%);
background: -webkit-linear-gradient(left, rgba(127,154,216,1) 0%,rgba(85,140,203,1) 100%);
background: linear-gradient(to right, rgba(127,154,216,1) 0%,rgba(85,140,203,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f9ad8', endColorstr='#558ccb',GradientType=1 );
display: inline-block;  
}
.tiles-font {
 /* font-family: "Arial, Helvetica, sans-serif"; */
 /* font-size:14px; */
 line-height: 140%;
 margin-top:12px;
 margin-left:16px;

}

.nomulti {
white-space: nowrap;  
}