.tiles {
  height: 104px;
  width: 250px;
  margin: 20px;
  padding: 18px;
  color: #fffffe;
  display: inline-block;  
  flex-shrink: 0;  
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%;  
  /*font-family: 'Montserrat', sans-serif; */
}

.red {
/* http://www.colorzilla.com/gradient-editor/#cd4345+0,e36767+100 */  
background: #c65555;
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -moz-linear-gradient(left, #c65555 0%, #d30a0a 100%);
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -webkit-linear-gradient(left, #c65555 0%,#d30a0a 100%);
background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill%3D%27%23fff%27%20fill-opacity%3D%270.15%27%20width%3D%27104%27%20height%3D%27104%27%3E%3Ccircle%20cx%3D%2752%27%20cy%3D%2752%27%20r%3D%2750%27%20%2F%3E%3C%2Fsvg%3E"), linear-gradient(to right, #c65555 0%,#d30a0a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c65555', endColorstr='#d30a0a',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
.green {
/* encode the svg : https://meyerweb.com/eric/tools/dencoder/ */
/* use charset=ut8 instead of utf8 */
/* http://www.colorzilla.com/gradient-editor/#93bd47+0,709627+100  */
background: rgb(147,189,71);
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -moz-linear-gradient(left, rgba(147,189,71,1) 0%, rgba(112,150,39,1) 100%);
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -webkit-linear-gradient(left, rgba(147,189,71,1) 0%,rgba(112,150,39,1) 100%);
background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill%3D%27%23fff%27%20fill-opacity%3D%270.15%27%20width%3D%27104%27%20height%3D%27104%27%3E%3Ccircle%20cx%3D%2752%27%20cy%3D%2752%27%20r%3D%2750%27%20%2F%3E%3C%2Fsvg%3E"), linear-gradient(to right, rgba(147,189,71,1) 0%,rgba(112,150,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93bd47', endColorstr='#709627',GradientType=1 );  
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

}
.blue {
/* http://www.colorzilla.com/gradient-editor/#7f9ad8+0,558ccb+100 */
background: rgb(127,154,216);
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -moz-linear-gradient(left, rgba(127,154,216,1) 0%, rgba(85,140,203,1) 100%);
background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' fill-opacity='0.15' width='104' height='104'><circle cx='52' cy='52' r='50' /></svg>"), -webkit-linear-gradient(left, rgba(127,154,216,1) 0%,rgba(85,140,203,1) 100%);
background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill%3D%27%23fff%27%20fill-opacity%3D%270.15%27%20width%3D%27104%27%20height%3D%27104%27%3E%3Ccircle%20cx%3D%2752%27%20cy%3D%2752%27%20r%3D%2750%27%20%2F%3E%3C%2Fsvg%3E"),  linear-gradient(90deg, rgba(109,179,242,1) 0, rgba(30,105,222,1) 100%), #3498db;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f9ad8', endColorstr='#558ccb',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.tiles-font {
 /* font-family: "Arial, Helvetica, sans-serif"; */
 /* font-size:14px; */
 line-height: 140%;
 margin-top:12px;
 margin-left:16px;
}


